.contents_section{
  background-color: #FFEEF4;
  width: 990px;
  height: 700px;
  visibility: hidden;
  position: relative;
}

.contents_section_active{
  background-color: #FFEEF4;
  width: 990px;
  height: 700px;
  display: block;
  transition: display 1s;
}

.first_activity_img{
  width: 600px;
  height: 400px;
  position: relative;
  left: 220px;
  top: 150px;
  
}