.swiper{
  /* background-color: aqua; */
  width: auto;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide{
  color:white;
  text-align: center;
  font-weight: 900;
}

.school_icon,
.github_icon,
.email_icon,
.tell_icon,
.insta_icon{
  width: 30px;
  height: 30px;
  margin: 30px;
  box-sizing: border-box;
}

.school{
  position: absolute;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color:#FED9ED;
}

.swiper-button-prev::after,
.swiper-button-next::after{
  color:#FED9ED;
  font-size: 20px;
}

.swiper-pagination .swiper-pagination-bullet{
  background:white;
}

.swiper-pagination-bullet-active{
  --swiper-pagination-color: #FED9ED;
}
