.body{
  background-color: #070F2B;
  word-break: keep-all;
}

#activity_title{
  color: white;
  font-size: 50px;
  font-weight: 900;
  position: relative;
  top: 0;
  left: 990px;
  line-height: 70px;
  margin-bottom: 20px;
}
